/* CSS Document */
body {
  border: 1px solid #AAAAAA;
  padding: 0px 0px 0px 0px;
  margin: 2px 2px 2px 2px;
  height: 100%;
  vertical-align: middle;
}

.d_1 {
  text-align: center;
  height: 800px;
  width: 100%
}

.main {
  width: 700px;  
  background-color: #CCCCCC;
  margin: 10px auto 10px auto;
  padding: 20px 20px 20px 20px;
  border: 1px solid #000000;
}

.alert {
  font-weight: bold;
  font-size: 24px;
  color: red;
  text-align: left;
}

.msg {
}