body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

#lrp-nav-options {
    margin: 0.5em;
}

#lrp-nav-options button.thumbnail {
    margin: 0;
    padding: 0;
}

#lrp-nav-options img {
    max-height: 2.3em;
    border-radius: 0.3em;
}